* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Elvatica, sans-serif;
    position: relative;
}

/** Header **/
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    float: left;
    width: 100%;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.menu-horizontal {
    float: left;
    width: 100%;
    text-align: center;
}

.menu-horizontal ul {
    list-style-type: none;
}

.menu-horizontal li {
    display: inline;
}

.menu-horizontal a {
    padding: 13px;
    border: 4px solid pink;
    background-color: #dddddd;
}

.menu-horizontal a:hover {
    background-color: red;
}

.menu-vertical {
    text-align: center;
}

.menu-vertical ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    height: 100%;
}

.menu-vertical li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.menu-vertical li a:hover {
    background-color: #555;
    color: white;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.menu-absolut {
    position: absolute;
    right: 0;
    top: 50%;
    padding: 50px;
    background-image: url("../images/help.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border: 5px solid;
    cursor: pointer;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}