<!DOCTYPE html>
<html>

<head>
    <title>Aula 18</title>
    <link rel="stylesheet"
          type="text/css"
          href="css/style.css">
</head>

<body>

<h1>Teste Javascript</h1>

<table id="table">
    <tr>
        <th>Name</th>
        <th>Profession</th>
        <th>Password</th>
        <th>Id</th>
        <th>Data</th>
        <th>Preview</th>
    </tr>
</table>

<br>
<button id="refresh" type="button">Refresh</button>
<button id="user-1" type="button">1</button>
<button id="user-2" type="button">2</button>
<button id="user-3" type="button">3</button>

<div id="modal">
    <form id="form" action="">
    <label>Name</label>
    <input id="i-name"
           type="text" required/>
    <br>
    <label>Password</label>
    <input id="i-password"
           type="text" required/>
    <br>
    <label>ID</label>
    <input id="i-id"
           type="text"
           disabled/>
    <br>
    <button id="change" type="submit">Alterar</button>
    </form>
</div>


</body>
<script src="./js/pedido.js"></script>
<script src="./js/alterar.js"></script>

</html>