<!DOCTYPE html>
<html>

<head>
  <title>Aula 18</title>
  <link rel="stylesheet"
        type="text/css"
        href="css/style.css">
</head>

<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>


<table id="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Password</th>
    <th>Profession</th>
    <th>Preview</th>
  </tr>
</table>

<p id="p-insert">
  <button id="btn-insert"
          type="button">Inserir
  </button>
</p>

<div id="prt-obj"></div>
<br>
<button id="btn-prt-obj"
        type="button">Print Object
</button>
<br>
<br>

<div id="prt-1user"></div>
<br>
<button id="btn-prt-1user"
        type="button">Print User
</button>
<br>
<br>

<div id="list-names"></div>
<br>
<button id="btn-list-names"
        type="button">List Names
</button>
<br>
<br>

<div id="list-professions"></div>
<br>
<button id="btn-list-professions"
        type="button">List Professions
</button>

<div id="modal">
  <form id="form">
    <label for="i-id">ID</label>
    <input id="i-id"
           type="text"
           disabled />
    <br>
    <label for="i-name">Name</label>
    <input id="i-name"
           type="text" />
    <br>
    <label for="i-password">Password</label>
    <input id="i-password"
           type="text" />
    <br>
    <label for="i-profession">Profession</label>
    <input id="i-profession"
           type="text" />
    <br>
    <button id="change"
            type="submit">Alterar
    </button>
    <!--  Cancelar tem que ser type button senão dá refresh na página (se não tiver type button, por ser formulário, é dado submit)  -->
    <button id="cancel"
            type="button">Cancelar
    </button>
  </form>
</div>

<div id="modal-insert">
  <form id="form-insert">
    <label for="name">Name</label>
    <input id="name"
           type="text" />
    <br>
    <label for="password">Password</label>
    <input id="password"
           type="text" />
    <br>
    <label for="profession">Profession</label>
    <input id="profession"
           type="text" />
    <br>
    <button id="insert"
            type="submit">Inserir
    </button>
    <!--  Cancelar tem que ser type button senão dá refresh na página (se não tiver type button, por ser formulário, é dado submit)  -->
    <button id="cancel-insert"
            type="button">Cancelar
    </button>
  </form>
</div>

</body>
<script src="js/pedido.js"></script>
<script src="js/alterar.js"></script>
<script src="js/inserir.js"></script>
<script src="js/script.js"></script>

</html>