* {
    box-sizing: border-box;
}

.float-100 {
    float: left;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
}


.header {
    margin-top: 30px;
    background: #FE7B09 url("/images/bg.jpg") repeat-x;
    height: 100px;
    text-align: center;
    color: white;
}

#main {
    width:80%;
    margin: 0 auto 0 auto;
}

h2 {
    margin: 0;
    line-height: 95px;
}